In [1]:
import pandas as pd
import numpy as np
import sys, os

In [2]:
sys.path.append(os.path.abspath('..'))

In [3]:
%load_ext autoreload
%autoreload 2

In [21]:
from scripts.preprocessor import RemoveUnwanted
from scripts.tokenizer import tokenize_amharic
from scripts.data_labeler import data_labeler

In [5]:
df = pd.read_csv('../data/telegram_messages.csv')

In [6]:


df = df.dropna(subset=['messages'])

In [7]:
df.head()

                                            messages
0  💥💥...................................💥💥\n\n🎯El...
1  💥💥...................................💥💥\n\n🎯El...
2  💥💥...............👸................💥💥\n\n📌Strai...
3  💥💥...............👸................💥💥\n\n📌Strai...
4  💥💥...............👸................💥💥\n\n📌Strai...

In [8]:
remove = RemoveUnwanted()
df['messages'] = df['messages'].astype('str').apply(remove.remove_special_character)

In [9]:
#removing unwanted character from the text like emojis
re = RemoveUnwanted()
df['messages'] = df['messages'].astype('str').apply(re.remove_english_words_from_text)

In [10]:
df.tail()

                                              messages
473   5  1  \nኦሪጅናል ማቴሪያል\nበሳይዙ ትልቅ\n 3200 ብር\n  \n...
480  3pcs                   \n\n \n\n \n\n    \n\n4...
484   \nኦሪጅናል ማቴሪያል\nበሳይዙ ትልቅ\n 1600 ብር\n  \n\n0909...
488   5  1  \nኦሪጅናል ማቴሪያል\nበሳይዙ ትልቅ\n 3700 ብር\n  \n...
496    \nየልጆችን ቀልብ የሚገዛ ውብ ፖፖ\nምቹ የሆነ መነሳት የሚችል ስፖን...

In [23]:
#save data to csv file
df.to_csv('../data/cleaned_data.csv', index=False)

In [12]:
#tokenizing the word
token =  df['messages'].apply(tokenize_amharic)

In [13]:
token.to_clipboard(index=False, header=False)

In [22]:
labeled = data_labeler()

Labeled data has been saved to ../data/labeled_ner_data.csv.